{% import "partials/components.nunjucks" as components %}

{% include "pages/receipts/distributors-receipts-add.html" %}
{% include "pages/receipts/distributors-receipts-edit.html" %}
{% include "pages/receipts/distributors-receipts-view.html" %}

<div id="main-distributors-receipts" class="inline-box">
	{{ add_search_button('add-distributors-receipts', 'main-distributors-receipts') }}
	<!-- /.row -->
	<div class="row table-responsive">
	  <div class="col-md-12">
	    <table class="table table-bordered table-hover">
			<tr>
				<th>#</th>
				<th>Distributor</th>
				<th>Created date</th>
				<th>Delivery date</th>
				<th>Total</th>
				<th>Note</th>
				<th>Actions</th>
			</tr>
			<tr>
				<td>01</td>
				<td>Lan</td>
				<td>01-12-2016</td>
				<td>15-12-2016</td>
				<td>670$</td>
				<td></td>
				<td>
				{{ crud_button_group('view-distributors-receipts', 'edit-distributors-receipts', 'main-distributors-receipts') }}
				</td>
			</tr>
			<tr>
				<td>02</td>
				<td>Tai</td>
				<td>27-06-2016</td>
				<td>03-07-2016</td>
				<td>330$</td>
				<td></td>
				<td>
				{{ crud_button_group('view-distributors-receipts', 'edit-distributors-receipts', 'main-distributors-receipts') }}
				</td>
			</tr>
	    </table>
	  </div>
	</div>
	<!-- /.row -->
	{{ pagination(3) }}
</div><!-- /.inline-box -->