{% include "pages/statistics/sample_page.html" %}

<div id="main-statistics" class="box box-success inline-box">
	<div class="box-header">
		<h3 class="box-title">Statistics</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		<div class="row">
			<div class="col-md-12">
				<!-- Code here -->

				<a href="#" class="btn btn-default inline-box-button" data-view-id="statistics_sample_page">Go</a>

				<!-- Code here -->
			</div>
		</div>
		<!-- /.row -->
	</div><!-- /.box-body -->
	<div class="box-footer">
	</div>
	<!-- /.box-footer -->
</div>
<!-- /.box -->