<div id="statistics_customers" class="box box-success inline-box hidden">
    <div class="box-header">
        <h3 class="box-title">Statistics - Customers</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="btn btn-default inline-box-button" data-view-id="main-statistics" data-ref-id="statistics_customers">Back</a>

                <h3>Close customers</h3>

                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Income</th>
                        <th>Popular products</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>01</td>
                        <td>Quan Hung</td>
                        <td>94000$</td>
                        <td>Blue spot, small decoration</td>
                    </tr>

                    <tr>
                        <td>01</td>
                        <td>Hoang Tuan</td>
                        <td>85000$</td>
                        <td>Corn cob, led-wall</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>