<div id="statistics_products" class="box box-success inline-box hidden">
    <div class="box-header">
        <h3 class="box-title">Statistics - Products</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="btn btn-default inline-box-button" data-view-id="main-statistics" data-ref-id="statistics_products">Back</a>

                <h3>Product statistics</h3>

                <div class="row">
                    <div class="col col-sm-6">
                        <h4>Best sell products</h4>

                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Avg day sales</th>
                                <th>Avg month sales</th>
                                <th>Avg year sales</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>01</td>
                                <td>Led001</td>
                                <td>Lamp light</td>
                                <td>50$</td>
                                <td>1500$</td>
                                <td>18000$</td>
                            </tr>

                            <tr>
                                <td>01</td>
                                <td>Led002</td>
                                <td>Blue light - household</td>
                                <td>35$</td>
                                <td>1050$</td>
                                <td>12600$</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="row">
                    <div class="col col-sm-6">
                        <h4>Inventory</h4>

                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Inventory days</th>
                                <th>Avg month sales</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>01</td>
                                <td>Led006</td>
                                <td>Cyan color-decoration</td>
                                <td>162</td>
                                <td>35</td>
                                <td>230$</td>
                            </tr>

                            <tr>
                                <td>02</td>
                                <td>Led004</td>
                                <td>Big spotlight</td>
                                <td>123</td>
                                <td>42</td>
                                <td>240$</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="row">
                    <div class="col col-sm-6">
                        <h4>Out of stock</h4>

                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Quantity needed</th>
                                <th>Sales</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>01</td>
                                <td>Led053</td>
                                <td>Small light bulb</td>
                                <td>98</td>
                                <td>2400$</td>
                            </tr>

                            <tr>
                                <td>02</td>
                                <td>Led046</td>
                                <td>Medium spotlight - red</td>
                                <td>65</td>
                                <td>2000$</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>