{% extends "layout.nunjucks" %}

{% block content %}

{% include "partials/getorders-navbar.nunjucks" %}

<h2>Selected Products</h2>
<script>
    GetOrders_SetNextPage('get_orders_add_receipt.html');
</script>

<div>ID Receipt: 003</div>
<div>Customer: Nozaki</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>1</td>
        <td>Lamp112</td>
        <td>Red lamp</td>
        <td>120</td>
        <td>Shortage: 50</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Lamp113</td>
        <td>Blue lamp</td>
        <td>100</td>
        <td></td>
    </tr>

    <tr>
        <td>3</td>
        <td>Lamp114</td>
        <td>Yellow lamp</td>
        <td>120</td>
        <td></td>
    </tr>

    <tr>
        <td>4</td>
        <td>Light009</td>
        <td>Light small Led</td>
        <td>100</td>
        <td>Shortage: 10</td>
    </tr>

    <tr>
        <td>5</td>
        <td>Light102</td>
        <td>Light big Led</td>
        <td>120</td>
        <td></td>
    </tr>

    <tr>
        <td>6</td>
        <td>Lig103</td>
        <td>Light normal decorate One</td>
        <td>100</td>
        <td>Shortage: 20</td>
    </tr>

    <tr>
        <td>1</td>
        <td>Lig104</td>
        <td>Light normal decorate Two</td>
        <td>120</td>
        <td>Shortage: 50</td>
    </tr>



    </tbody>
</table>


<div class="text-center">
    <div class="btn-group">
        <a href="#" class="btn btn-success" style="margin: 5px">Confirm</a>
        <a href="#" class="btn btn-danger" style="margin: 5px">Cancel</a>
    </div>
</div>

{%endblock %}