{% extends "layout.nunjucks" %}

{% block content_wrapper %}

<h1>Statistics</h1>

<div style="margin: 10px">
    <a class="btn btn-default" href="dashboard.html">Back</a>
</div>

<div class="row">
    <div class="col-md-3">
        <a href="statistics_revenue.html">
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                    <div class="widget-user-image">
                        <img class="img-rounded" src="../assets/publicImgs/money.png" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3>Revenue</h3>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li>Yearly <span class="pull-right badge bg-blue">8000$</span></li>
                        <li>Quarterly <span class="pull-right badge bg-aqua">2400$</span></li>
                        <li>Monthly <span class="pull-right badge bg-green">600$</span></li>
                        <li>Daily <span class="pull-right badge bg-red">20$</span></li>
                    </ul>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="statistics_products.html">
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-purple-gradient">
                    <div class="widget-user-image">
                        <img class="img-rounded" src="../assets/publicImgs/led.png" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3>Products</h3>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li>Best sell <span class="pull-right badge bg-aqua">Lamp light</span></li>
                        <li>Inventory <span class="pull-right badge bg-aqua">4 products</span></li>
                        <li>Out of stock <span class="pull-right badge bg-green">2 products</span></li>
                    </ul>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="statistics_customers.html">
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-teal">
                    <div class="widget-user-image">
                        <img class="img-rounded" src="../assets/publicImgs/person.png" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3>Customers</h3>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li>Familiar customers <span class="pull-right badge bg-aqua">4</span></li>
                    </ul>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}

{% block external_scripts %}

{% endblock %}

