{% extends "layout.nunjucks" %}

{% block title %}{{ super() + ' Dashboard' }}{% endblock %}

{% from "partials/components.nunjucks" import inline_page_button, inline_page %}

{% block content_wrapper %}

<!-- Main content -->
<section class="content">

<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header">
        <h3 class="box-title"><strong>Menu</strong></h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          {{ inline_page_button('receipts', 'Receipts', 'ion ion-ios-list', 'bg-aqua') }}
          {{ inline_page_button('statistics', 'Statistics', 'ion ion-stats-bars', 'bg-green') }}
          {{ inline_page_button('warehouse', 'Warehouse', 'ion ion-ios-home', 'bg-yellow') }}
          {{ inline_page_button('management', 'Management', 'ion ion-ios-folder', 'bg-red') }}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col-md-12 -->
</div>
<!-- /.row -->

{{ inline_page('pages/receipts/receipts.html', 'receipts') }}
{{ inline_page('pages/statistics/statistics.html', 'statistics') }}
{{ inline_page('pages/warehouse/warehouse.html', 'warehouse') }}
{{ inline_page('pages/management/management.html', 'management') }}

</section>
<!-- /.content -->

{% endblock %}