{% extends "layout.nunjucks" %}

{% block title %}{{ super() + ' Dashboard' }}{% endblock %}

{% from "partials/inline-page-macro.nunjucks" import dashboard_small_box, inline_page %}

{% block content_wrapper %}

<!-- Main content -->
<section class="content">

<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header">
        <h3 class="box-title"><strong>Menu</strong></h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          {{ dashboard_small_box('statistics', 'Statistics', 'ion ion-stats-bars', 'bg-aqua') }}
          {{ dashboard_small_box('account_management', 'Accounts', 'ion ion-stats-bars', 'bg-green', 'Create, edit and delete accounts') }}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col-md-12 -->
</div>
<!-- /.row -->

{# inline_page('pages/hello.nunjucks', 'statistics') #}
{# inline_page('pages/hello2.nunjucks', 'account_management') #}

</section>
<!-- /.content -->

{% endblock %}