{% extends "layout.nunjucks" %}
{% block content %}

<h1>Order details</h1>

<div>Distributor: ABC</div>

<div>Date created: June 6th, 2016</div>

<div>Date received: June 11th, 2016</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Number</th>
        <th>ID Product</th>
        <th>Name of Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>1</td>
        <td>Lamp XL</td>
        <td>X02</td>
        <td>3</td>
        <td>300000</td>
        <td>

            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-warning-sign"></span>
            </button>

        </td>
    </tr>

    <tr>
        <td>2</td>
        <td>Decorator Mini Led</td>
        <td>K02</td>
        <td>4</td>
        <td>400000</td>
        <td>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-warning-sign"></span>
            </button>

        </td>
    </tr>

    <tr>
        <td colspan="4">Total</td>
        <td>700000</td>
    </tr>
    </tbody>
</table>

<div class="text-center">
    <div class="btn-group">
        <a href="#" class="btn btn-success" style="margin: 5px">Confirm</a>
        <a href="import.html" class="btn btn-default" style="margin: 5px">Back</a>
    </div>
</div>

{% endblock %}