{% extends "layout.nunjucks" %}
{% block content %}

<h2>Distributor's Receipt Details</h2>

<div>ID Receipt: 004</div>
<div>Distributor: KOSAWA</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>ID Product</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>01</td>
        <td>Small Led Color</td>
        <td>X02</td>
        <td>30</td>
        <td>300000</td>
    </tr>

    <tr>
        <td>02</td>
        <td>Lighting Large Led</td>
        <td>K05</td>
        <td>40</td>
        <td>400000</td>
    </tr>

    <tr>
        <td>03</td>
        <td>Household Led</td>
        <td>P08</td>
        <td>10</td>
        <td>1200000</td>
    </tr>

    <tr>
        <td>04</td>
        <td>Decorate Mini</td>
        <td>I011</td>
        <td>20</td>
        <td>200000</td>
    </tr>

    <tr>
        <td>05</td>
        <td>Lighting Small Led</td>
        <td>K07</td>
        <td>40</td>
        <td>400000</td>
    </tr>

    <tr>
        <td>06</td>
        <td>Normal CPL</td>
        <td>N98</td>
        <td>75</td>
        <td>100000</td>
    </tr>

    <tr>
        <td>08</td>
        <td>Orange Led</td>
        <td>OR05</td>
        <td>200</td>
        <td>400000</td>
    </tr>

    <tr>
        <td>09</td>
        <td>Red Large Led</td>
        <td>r05</td>
        <td>50</td>
        <td>400000</td>
    </tr>

    <tr>
        <td colspan="4" >TOTAL</td>
        <td>346000000</td>
    </tr>

    </tbody>
</table>

<div class="text-center">
    <div class="btn-group">
        <a href="order.html" class="btn btn-success" style="margin: 5px">Back</a>
        <a href="#" class="btn btn-info" style="margin: 5px">Edit</a>
    </div>
</div>

{% endblock %}