{% extends "mini-layout.nunjucks" %}

{% block body_content %}

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <h3 class="box-title">Revenue this year</h3>

            <div class="box-body chart-responsive">
                <div class="chart" id="revenue-chart" style="height: 300px;"></div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

{% endblock %}

{% block external_script %}
<!-- page script -->
<script>
    $(function () {
        "use strict";

        var chart1 = new Morris.Line({
            element: 'revenue-chart',
            resize: true,
            data: [
                {y: '2013', item1: 12000},
                {y: '2014', item1: 16000},
                {y: '2015', item1: 15600},
                {y: '2016', item1: 18000},
                {y: '2017', item1: 19700}
            ],
            xkey: 'y',
            ykeys: ['item1'],
            labels: ['$'],
            hideHover: 'auto',
            lineColors: ['#a0d0e0'],
            gridLineColor: "#efefef"
        });

        $('.box ul.nav a').on('shown.bs.tab', function () {
            chart1.redraw();
        });
    });
</script>

{% endblock %}

