{% extends "layout.nunjucks" %}

{% block content %}

<style>
    a.btnChart
    {
        width: 70px;
        height: 50px;
    }

    a.btnChart > img
    {
        width: 100%;
        height: 100%;
    }
</style>

<script>
    function setChartPage(iframeID, url)
    {
        var ifr = document.getElementById(iframeID);
        ifr.src = url;

        if (url == "")  {
            ifr.style.display = 'none';
        }
        else {
            ifr.style.display = '';
        }
    }
</script>



<h1>Revenue yearly statistics</h1>

<div>
    <a class="btn btn-default" href="statistics_revenue.html">Back</a>
</div>

<div>
    <h2>Top customers</h2>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Income</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>01</td>
            <td>ABC</td>
            <td>10000$</td>
        </tr>

        <tr>
            <td>02</td>
            <td>DEF</td>
            <td>9700$</td>
        </tr>

        <tr>
            <td>03</td>
            <td>GHI</td>
            <td>6000$</td>
        </tr>
        </tbody>
    </table>


    <h2>Charts</h2>
    <div style="padding-left: 20px">
        <a class="btn btn-default btnChart" onclick="setChartPage('ifr_CustomerChart', '')">
            X
        </a>

        <a class="btn btn-default btnChart" onclick="setChartPage('ifr_CustomerChart', 'statistics_revenue_year_chart.html')">
            <img src="..\assets\charts\column_chart.png"/>
        </a>

        <a class="btn btn-default btnChart" onclick="setChartPage('ifr_CustomerChart', 'statistics_revenue_year_chart.html')">
            <img src="..\assets\charts\pie_chart.png"/>
        </a>

        <iframe id="ifr_CustomerChart" style="width: 100%; display: none; height: 400px;">

        </iframe>
    </div>
</div>



<div>
    <h2>Top products</h2>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Income</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>01</td>
            <td>Led01</td>
            <td>Bulb led</td>
            <td>20$</td>
            <td>170</td>
            <td>3400$</td>
        </tr>

        <tr>
            <td>02</td>
            <td>Led02</td>
            <td>Lamp led</td>
            <td>15$</td>
            <td>120</td>
            <td>3300$</td>
        </tr>
        </tbody>
    </table>

    <h2>Charts</h2>
    <div style="padding-left: 20px">
        <a class="btn btn-default btnChart" onclick="setChartPage('ifr_ProductChart', '')">
            X
        </a>

        <a class="btn btn-default btnChart" onclick="setChartPage('ifr_ProductChart', 'statistics_revenue_year_chart.html')">
            <img src="..\assets\charts\column_chart.png"/>
        </a>

        <a class="btn btn-default btnChart" onclick="setChartPage('ifr_ProductChart', 'statistics_revenue_year_chart.html')">
            <img src="..\assets\charts\pie_chart.png"/>
        </a>

        <iframe id="ifr_ProductChart" style="width: 100%; display: none;">

        </iframe>
    </div>
</div>

{% endblock %}
