<div class="nav-tabs-custom">
	<!-- Tabs within a box -->
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#imports-warehouse" data-toggle="tab">Imports</a></li>
	  <li><a href="#exports-warehouse" data-toggle="tab">Exports</a></li>
	</ul>
  <div class="tab-content">
    <div class="chart tab-pane active" id="imports-warehouse">{% include "pages/warehouse/imports-warehouse.html" %}</div>
    <div class="chart tab-pane" id="exports-warehouse">{% include "pages/warehouse/exports-warehouse.html" %}</div>
  </div>
</div>
<!-- /.nav-tabs-custom -->