{% from "partials/components.nunjucks" import crud_button_group, add_search_button %}

{% include "pages/management/customers-management-add.html" %}
{% include "pages/management/customers-management-edit.html" %}
{% include "pages/management/customers-management-view.html" %}

<div id="main-customers-management" class="inline-box">
	{{ add_search_button('add-customers-management') }}
	<!-- /.row -->
	<div class="row table-responsive">
	  <div class="col-md-12">
	    <table class="table table-bordered table-hover">
	      <tr>
	        <th>Name</th>
	        <th>Store name</th>
	        <th>Phone</th>
	        <th>Email</th>
	        <th>Address</th>
	        <th>Other</th>
	        <th>Actions</th>
	      </tr>
        <tr>
            <td>Ronald A. Stephens</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            {{ crud_button_group('view-customers-management', 'edit-customers-management') }}
            </td>
          </tr>
	    </table>
	  </div>
	</div>
	<!-- /.row -->
	{% from "partials/components.nunjucks" import pagination %}
	{{ pagination(3) }}
</div><!-- /.inline-box -->