<div id="add-customers-management" class="inline-box hidden">
	<div class="row">
		<div class="col-md-12">
			<h3>Add customer</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form class="form-horizontal">
				{{ input_form('Name', '') }}
				{{ input_form('Store name', '') }}
				{{ input_form('Phone', '') }}
				{{ input_form('Email', '') }}
				{{ input_form('Address', '') }}
				{{ input_form('Note', '') }}
			</form>
		</div>
	</div>
	{{ action_crud_button_group('main-customers-management', 'add-customers-management') }}
</div>