<div id="view-customers-management" class="inline-box hidden">
    <div class="row">
        <div class="col-md-12">
            <h3>View customer</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                {{ input_form('Name', 'Hoang', true) }}
                {{ input_form('Store name', 'Hoang Pro', true) }}
                {{ input_form('Phone', '0122555666', true) }}
                {{ input_form('Email', 'hoangpro@gmail.com', true) }}
                {{ input_form('Address', '222 Dien Bien Phu st, District 10', true) }}
                {{ input_form('Note', '', true) }}
            </form>
        </div>
    </div>
    {{ action_crud_button_group('main-customers-management', 'view-customers-management', true) }}
</div>