{% import "partials/components.nunjucks" as components %}

{% include "pages/management/customers-management-add.html" %}
{% include "pages/management/customers-management-edit.html" %}
{% include "pages/management/customers-management-view.html" %}

<div id="main-customers-management" class="inline-box">
	{{ add_search_button('add-customers-management', 'main-customers-management') }}
	<!-- /.row -->
	<div class="row table-responsive">
	  <div class="col-md-12">
	    <table class="table table-bordered table-hover">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Store name</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Address</th>
				<th>Note</th>
				<th>Actions</th>
			</tr>
			<tr>
				<td>01</td>
				<td>Hoang</td>
				<td>Hoang Pro</td>
				<td>0122555666</td>
				<td>hoangpro@gmail.com</td>
				<td>222 Dien Bien Phu st, District 10</td>
				<td></td>
				<td>
				{{ crud_button_group('view-customers-management', 'edit-customers-management', 'main-customers-management') }}
				</td>
			</tr>
			<tr>
				<td>02</td>
				<td>Xuan Vy</td>
				<td>Vy LED Shop</td>
				<td>09079711222</td>
				<td>xuanvy@gmail.com</td>
				<td>56 An Duong Vuong st, District 5</td>
				<td></td>
				<td>
				{{ crud_button_group('view-customers-management', 'edit-customers-management', 'main-customers-management') }}
				</td>
			</tr>
			<tr>
				<td>03</td>
				<td>An</td>
				<td>Thien An Light Shop</td>
				<td>0974409287</td>
				<td>thienan@gmail.com</td>
				<td>222 Tran Phu st, District 4</td>
				<td></td>
				<td>
				{{ crud_button_group('view-customers-management', 'edit-customers-management', 'main-customers-management') }}
				</td>
			</tr>
	    </table>
	  </div>
	</div>
	<!-- /.row -->
	{{ pagination(3) }}
</div><!-- /.inline-box -->