<div id="view-distributors-management" class="inline-box hidden">
    <div class="row">
        <div class="col-md-12">
            <h3>View distributor</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                {{ input_form('Name', 'Tuan', true) }}
                {{ input_form('Address', '15 Nguyen Van Cu st, District 5', true) }}
                {{ input_form('Email', 'tuan@gmail.com', true) }}
                {{ input_form('Phone', '090333222', true) }}
                {{ input_form('Note', '', true) }}
            </form>
        </div>
    </div>
    {{ action_crud_button_group('main-distributors-management', 'view-distributors-management', true) }}
</div>