<div id="add-distributors-management" class="inline-box hidden">
    <div class="row">
        <div class="col-md-12">
            <h3>Add distributor</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                {{ input_form('Name', '') }}
                {{ input_form('Address', '') }}
                {{ input_form('Email', '') }}
                {{ input_form('Phone', '') }}
                {{ input_form('Note', '') }}
            </form>
        </div>
    </div>
    {{ action_crud_button_group('main-distributors-management', 'add-distributors-management') }}
</div>