{% import "partials/components.nunjucks" as components %}

{% include "pages/management/human-management-add.html" %}
{% include "pages/management/human-management-edit.html" %}
{% include "pages/management/human-management-view.html" %}

<div id="main-human-management" class="inline-box">
    {{ add_search_button('add-human-management', 'main-human-management') }}
    <!-- /.row -->
    <div class="row table-responsive">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Role</th>
                    <th>Note</th>
                    <th>Actions</th>
                </tr>
                <tr>
                    <td>01</td>
                    <td>Man01</td>
                    <td>Mr. Boss</td>
                    <td>090000000</td>
                    <td>227 Le Van Viet st, District Thu Duc</td>
                    <td>Admin</td>
                    <td></td>
                    <td>
                    {{ crud_button_group('view-human-management', 'edit-human-management', 'main-human-management') }}
                    </td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>Accountant01</td>
                    <td>Le Huyen Vy</td>
                    <td>099232232</td>
                    <td>152 Hoang Van Thu st, District Phu Nhuan</td>
                    <td>Statistics</td>
                    <td></td>
                    <td>
                    {{ crud_button_group('view-human-management', 'edit-human-management', 'main-human-management') }}
                    </td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>WarehouseMan01</td>
                    <td>Pham Van Hai</td>
                    <td>01459384674</td>
                    <td>8 Le Hong Phong st, District 5</td>
                    <td>Import, Export</td>
                    <td></td>
                    <td>
                    {{ crud_button_group('view-human-management', 'edit-human-management', 'main-human-management') }}
                    </td>
                </tr>
                <tr>
                    <td>05</td>
                    <td>BankMan01</td>
                    <td>Le Minh Thi</td>
                    <td>012224444</td>
                    <td>198/75 Cach Mang Thang Tam st, District 1</td>
                    <td>None</td>
                    <td></td>
                    <td>
                    {{ crud_button_group('view-human-management', 'edit-human-management', 'main-human-management') }}
                    </td>
                </tr>
                <tr>
                    <td>06</td>
                    <td>Shipper01</td>
                    <td>Nguyen Van Tung</td>
                    <td>01443984238</td>
                    <td>44/68 Nguyen Thi Minh Khai st, District 1</td>
                    <td>None</td>
                    <td></td>
                    <td>
                    {{ crud_button_group('view-human-management', 'edit-human-management', 'main-human-management') }}
                    </td>
                </tr>
                <tr>
                    <td>07</td>
                    <td>Shipper02</td>
                    <td>Duong Anh Minh</td>
                    <td>098772776</td>
                    <td>221 Nguyen Thi Minh Khai st, District Binh Thanh</td>
                    <td>None</td>
                    <td></td>
                    <td>
                    {{ crud_button_group('view-human-management', 'edit-human-management', 'main-human-management') }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.row -->
    {{ pagination(3) }}
</div><!-- /.inline-box -->