<div id="edit-products-management" class="inline-box hidden">
    <div class="row">
        <div class="col-md-12">
            <h3>Edit product</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                {{ input_form('ID', 'bulb_01') }}
                {{ input_form('Name', 'Big Bulb 18W') }}
                {{ input_form('Source', 'ABC company') }}
                {{ input_form('Price', '2.5$') }}
                {{ input_form('Quantity', '839') }}
                {{ input_form('Note', '') }}
            </form>
        </div>
    </div>
    {{ action_crud_button_group('main-products-management', 'edit-products-management') }}
</div>