<div id="add-products-management" class="inline-box hidden">
    <div class="row">
        <div class="col-md-12">
            <h3>Add product</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                {{ input_form('ID', '') }}
                {{ input_form('Name', '') }}
                {{ input_form('Source', '') }}
                {{ input_form('Price', '') }}
                {{ input_form('Quantity', '') }}
                {{ input_form('Note', '') }}
            </form>
        </div>
    </div>
    {{ action_crud_button_group('main-products-management', 'add-products-management') }}
</div>