{% from "partials/components.nunjucks" import save_back_crud_button_group, back_crud_button_group, input_form %}
<div id="edit-products-management" class="inline-box hidden">
    <div class="row">
        <div class="col-md-12">
            <h3>Edit human</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                {{ input_form('ID', 'bulb_01') }}
                {{ input_form('Name', 'Big Bulb 18W') }}
                {{ input_form('Source', 'ABC company') }}
                {{ input_form('Price', '2.5$') }}
                {{ input_form('Quantity', '839') }}
            </form>
        </div>
    </div>
    {{ save_back_crud_button_group('main-products-management') }}
</div>